dataset-format-benchmark==0.0.8
dataset-image-annotator==0.0.19
kaggle==1.5.12
jupyterlab==3.5.2
matplotlib==3.6.2
numpy==1.24.1
Pillow==9.4.0
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
torch
torchvision
tqdm==4.64.1
