dataset-format-benchmark==0.0.7
dataset-image-annotator==0.0.16
kaggle==1.5.12
jupyterlab==3.5.2
matplotlib==3.6.2
numpy==1.24.0
Pillow==9.3.0
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.1
torch
torchvision
tqdm==4.64.1
