dataset-format-benchmark==0.2.2
dataset-image-annotator==0.2.0
kaggle==1.6.17
jupyterlab==4.3.5
matplotlib==3.10.0
numpy==2.2.2
Pillow==11.1.0
pytorch-lightning==2.5.0.post0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
torch
torchvision
tqdm==4.67.1
